{% extends "base.html.twig" %}

{% block body %}
    {%  for movie in movies %}
        <li class="bg-blue-500 text-2xl text-center font-bold">{{ movie.title }}</li>
        <li><img src="{{ asset('build/images/the-shawshank-redemption.jpg') }}"  alt="" > </li>
    {% endfor %}

{% endblock %}